.board-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board{
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  place-items: center;
  justify-content: center;
}

.status{
  text-align: center;
  margin: 6px;
  font: bold;
  font-weight: 700;
  font-size: x-large;
}

.resetGame{
  margin: 2rem;
  width: 6rem;
  height: 2rem;
  font-size: large;
}

.square{
 width: 4rem;
 height: 4rem;
 margin: 1px;
 border: 1px solid black;
 font-size: larger;
 font: bold;
 font-weight: 700;
 display: flex;
 justify-content: center;
 align-items: center;

}